# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/1week/youflix/node_modules
/2week/youflix/node_modules
/3week/youflix/node_modules
/4week/youflix/node_modules
/5week/youflix/node_modules
