.content { 
	position: relative;
	z-index:111;
	width:100%;
}

.content:hover .thumbnail {
	opacity: 0.3;
}

.thumbnail {
	width:100%;
}

.middle { 
	position: absolute; 
	top: 35%;
	left: 0;
	z-index:10;
}

.text {
	color:white;
	font-size:16px;
}